@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f9f9f9;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.error {
  border: 1px solid red;
  border-radius: 5px;
}

.transition-200 {
  transition: .2s ease-in-out;
}

@media print {
  body {
    visibility: hidden;
    background-color: white;
  }
  header {
    display: none !important;
  }
  .printable-area,
  .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .header-contacts,
  .header-model {
    font-size: 14px;
  }
  .sidebar {
    display: none !important;
  }
}

@media print and (max-width: 600px) {
  #printableArea {
    zoom: 0.75;
  }
  header {
    display: none !important;
  }
}